---
import Layout from '../layouts/Layout.astro';
import "tailwindcss/tailwind.css";
import "../styles/global.css";
import { website } from "../utils/update";

export const metadata = {
  title: "game.paintik.xyz",
  description: "game.paintik.xyz",
  keywords: "game.paintik.xyz",
  url: "https://game.paintik.xyz/",
  image: "favicon.png",
  datePublished: new Date().toISOString().split("T")[0],
};
const venueData = await website();
const characters = (venueData.businessUnit.products as any[]).filter(product => product.tags.includes("角色"));
const items = (venueData.businessUnit.products as any[]).filter(product => product.tags.includes("加速"));
---
<Layout metadata={metadata}>
	角色
	{(characters as any[]).map(product => {
    return (<sl-card class="card-overview">
			<sl-carousel pagination navigation mouse-dragging loop autoplay>
				{(product.images).map(image => {
				return (<sl-carousel-item>
					<img loading="lazy" alt={product.name} src={`https://strapi.paintik.xyz${image.url}`} />
				</sl-carousel-item>);
				})}
			</sl-carousel>
			<strong>{product.name}</strong><br />
			${product.cost}
			<small>6 weeks old</small>
			<div slot="footer">
				<sl-button variant="primary" pill>買</sl-button>
				<sl-rating></sl-rating>
			</div>
		</sl-card>);
  })}
	道具
	{(items as any[]).map(product => {
    return (<sl-card class="card-overview">
			<sl-carousel pagination navigation mouse-dragging loop autoplay>
				{(product.images).map(image => {
				return (<sl-carousel-item>
					<img loading="lazy" alt={product.name} src={`https://strapi.paintik.xyz${image.url}`} />
				</sl-carousel-item>);
				})}
			</sl-carousel>
			<strong>{product.name}</strong><br />
			${product.cost} = ${product.effect.speedup}/HR
			<small>6 weeks old</small>
			<div slot="footer">
				<sl-button variant="primary" pill>買</sl-button>
				<sl-rating></sl-rating>
			</div>
		</sl-card>);
  })}
	<pre>{JSON.stringify(venueData, null, 2)}</pre>
</Layout>